.more_acting{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    flex-direction: column;
    height: 100vh;
    padding: 70px 30px 90px 30px;
}

.more_acting_text h1{
    color: #FFF;
}

.more_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 70px 40px;
    margin-top: 80px;
    max-width: 800px;
    width: 100%;
    transition: .4s;
}

.more_grid div{
    border-bottom: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.more_grid img{
    width: 50px;
    height: 50px;
}

.more_grid p{
    margin: 10px;
}

@media (max-width: 801px){
    .more_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 426px){
    .more_grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 376px){
    .more_grid div{
        border: 0;
        border-left: 2px solid #FFF;
        border-right: 2px solid #FFF;
    }
}